.RulesContainer {
    width: 70%;
    height: 300px;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: black;
    padding: 30px;
    font-size: 1.1rem;





}

.blurRulesBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 3;
    /* Adjust the blur amount as desired */
}


@media(max-width:656px) {
    .RulesContainer {
        width: 80%;
        height: 400px;
        padding: 15px;
        font-size: 1rem;
    }

}